
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

#increment-btn {
    width: 200px;
    padding: 10px;
    background-color: rgb(56, 51, 51);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#reset-btn {
    width: 200px;
    padding: 10px;
    background-color: rgb(45, 115, 120);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#decrement-btn {
    width: 200px;
    padding: 10px;
    background-color: brown;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.save-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#save-btn {
    width: 200px;
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* SMALL SCREENS */

@media screen and (min-width: 320px) and (max-width: 625px) {
    .btn {
        flex-direction: column;
    }

    .save-btn {
        flex-direction: column;
    }

}